<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
      <%= link_to 'logout', 'sessions#destroy',
              data: { confirm: 'Are you sure?' } %>
      <% else %>
      <%= link_to 'log in', 'sessions#new' %> |
      <%= link_to 'create account', 'users#new' %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
